---
// src/pages/posts/[slug].astro
// import { Astro } from 'astro';
import Layout from '/src/layouts/Layout.astro';
// import Content from '/src/components/Sub-details-content.astro';
import Footer from '/src/components/Footer.astro';
import ProgrammeCard from '/src/components/ProgrammeCard.astro';
import Card from '/src/components/Card.astro';
import Navbar from '/src/components/Navbar.astro';
// console.log("stuff");
const programmes = await Astro.glob('/src/data/programme_data/*.json');
export async function getStaticPaths() {
	const files = await Astro.glob('/src/data/programme_data/*.json');
  return files.map((file) => {
	console.log(file.title);
    const slug = file.id;
    return { params: { slug }, props: {file} };
  });
}

const {file: {title, description, contacts, date, event_period, website, mode}} = Astro.props;

// export async function getStaticProps({ params }) {
//   const post = await Astro.fetchContent(`/src/data/posts/${params.slug}.md`);
//   return { props: { post } };
// }

// const { post } = Astro.props;
---

<Layout title='Interact 2023'>
	<main>
		<Navbar/>
		<content>
			<section class="programmes-section">
				<div class='title'>
					<h1>
						PROGRAMMES
					</h1>
				</div>
	
				<div class="selection-grid">
					{programmes.map((programme) => <Card title={programme.title}/>)}
				</div>

			</section>
			<section class="popup">
				<div class="info-card">
					<h2>
						Workshop:
					</h2>
					<h1>
						{title}
					</h1>
					<hr class="solid-line">
					<p>
						{description}
					</p>
				</div>
			</section>
		</content>
		
	</main>



	

	<Footer/>
	
</Layout>



<!-- <script>
	const response = await fetch('http://localhost:1337/api/submissions');
	const data = await response.json();
	const type = data.data;

	// document.addEventListener('click', (e) => {
	// 	console.log(e.target.id);
	// 	sectionNum = e.target.id;
	// })
</script> -->

<style>
	main{
		display: flex;
		flex-direction: row;
		overscroll-behavior: none;
		/* overflow-y: scroll */
		/* height: 300vh;
		padding-left: 14em; */
		/* margin-left: 14em; */
		/* position: absolute; */
	}

	label{
		font-family: "AH-B";
	}

	content{
		width: 100%;
	}

	.solid-line{
		width: 100%;
		border-top: 2px solid #002C38;
	}

	.popup{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 1em 0em;
		background: #002C38;
		background-color: rgba(0, 0, 0, 0.5);
		display: flex;
		z-index: 100;
		/* padding-top: 30vh; */
		/* align-items: center; */
		justify-content: center;
	}

	.info-card{
		width: 100%;
		padding: 2em;
		max-width: 700px;
		background-color: #FCF7EB;
		display: flex;
		flex-direction: column;
		max-height: max-content;
		border-radius: 1em;
	}

	.info-card h1{
		padding-bottom: 0.5em;
		margin: 0px;
		font-size: 2em;
		height: min-content;
	}

	.info-card h2{
		padding: 0em;
		padding-bottom: 0.2em;
		margin: 0px;
		font-size: 1.3em;
		height: min-content;
		font-weight: 100;
	}

	.anonymity-content-1{
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		/* width: 100%; */
		/* justify-content: space-between; */
		min-height: 100vh;
		/* width: 100%; */
		/* padding: 2em; */
		border-bottom: 1px solid #002C38;
		/* padding-left: 16em; */
	}

	.center{
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.button-padding h2{
		padding: 0.1em 1em;
		border-radius: 50px;
	}


	.center *{
		margin: auto;
	}

	.sub-types{
		background-color: #002C38;
		color: #FCF7EB;
		border-radius: 30px;
		padding: 0.5em 0em 0.5em 0em ;
		margin-bottom: 1em;
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		/* width: max-content; */
		/* height: 100%; */
		/* width: 100%; */
	}

	.selection-grid{
		display: grid;
		width: 100%;
		gap: 1em;
		grid-template-columns: 1fr 1fr;
		padding: 1em;
		flex-wrap: wrap;
	}

	.sub-types h3{
		margin: 0px;
		padding: 0.2em;
		padding-left: 1em;
		padding-bottom: 0.5em;
		font-family: 'AH-B'
	}


	.sub-details{
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* padding-left: 1em; */
	}

	.submissions{
		position: relative;
		justify-content: center;
		align-items: center;
	}

	.top{
		padding: 2em;
		border-bottom: 1px solid #002C38;
	}

	.bottom{
		padding: 2em;
	}

	

	.input-field{
		padding-top: 1em;
		display: flex;
		flex-direction: column;
		width: 50%;
	}

	.input-field input, .input-field textarea{
		all: unset;
		padding: 0.5em;
		border-radius: 0.5em;
		border: 2px solid #002C38;
		font-family: sans-serif;
	}

	.input-field label{
		padding-bottom: 0.2em;
		
	}

	h2{
		padding-top: 2em;
	}

	.contact-details h4{
		margin: 0%;
		font-family: 'AH-B';
	}

	.contact-details p{
		margin-top: 0%;
	}

	.juries-details{
		display: flex;
	}

	.juries-section{
		display: flex;
		display: block;
		align-content: space-between;
		padding-bottom: 4em;
	}

	.juries-section:last-child{
		display: flex;
		display: block;
		align-content: space-between;
		padding-bottom: 0%;
	}

	.text-details{
		justify-content: center;
		align-content: center;
		text-align: center;
	}

	.nav-container{
		width: 14em;
	}

	.img-mask{
		max-height: 450px;
		overflow: hidden;
	}

	.rch{
		width: 100%;
		/* max-height: 473px; */
		object-fit: cover;
	}

	.stretch{
		box-sizing: border-box;
		display: flex;
		width: 100%;
		/* height: 100%; */
	}

	.pill{
		font-family: 'AH-B';
		font-size: 1em;
		margin: 0px;
		display: flex;
		padding: 0.2em 0.5em 0.2em 0.5em ;
		background-color: #002C38;
		color: #FCF7EB;
		border-radius: 50px;
		align-items: center;
		width: fit-content;
	}

	.pill img{
		margin: 0%;
		padding-right: 0.5em;
		width: 1em;
		height: 1em;
	}

	.location-detail{
		align-items: flex-end;
		margin-top: auto;
		margin-bottom: 0%;
		margin-left: 2em;
		white-space: nowrap;
		width: max-content;
	}

	.title{
		font-family: 'SYNCOPATE';
		/* height: 50%; */
		padding: 3em 1em;
		margin: 0%;
		font-size: 1em;
		/* overflow: hidden; */
		/* width: 200%; */
	}

	.title h1{
		margin: 0%;
		padding: 0%;
		font-size: 2.5em;
	}

	

	.contact-content-5 h1{
		padding-top: 1em;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0%;
		font-family: 'S-B';
		font-size: 2.5em;
	}

	.contact-content-2 h3{
		margin: 0%;
		padding-top: 1em;
		font-family: 'AH-B';
		
		/* font-size: 2.5em; */
	}
	
	.conditions{
		padding-top: 2em;
	}


	/* Presets */

	.bold{
		font-family: 'AH-B';
	}

	.thin{
		font-family: 'S-R';
	}

</style>

