---
import type { MarkdownContent } from 'astro';
// import matter from 'gray-matter';
import showdown from 'showdown';
const converter = new showdown.Converter();

// const markdownContent = `# Hello World!`;
// const htmlContent = converter.makeHtml(markdownContent);

export interface Props {
	title: string;
	body: string;
	href: string;
	description: MarkdownContent;
	event_period: MarkdownContent;
	contacts: MarkdownContent;
	website: string;
	mode: string;
}



const { href, title, body, mode, event_period } = Astro.props;
const description = converter.makeHtml(Astro.props.description)
const website = converter.makeHtml(Astro.props.website)
const contacts = converter.makeHtml(Astro.props.contacts)

---

<li class="link-card" 
data-description={description} 
data-contacts={contacts} 
data-title={title} 
data-date={event_period} 
data-website={website} 
data-mode={mode}>
	<a class="inner-div-gradient" href={href}>
		<h3 class="card-title">
			{title}
			<span>&rarr;</span>
		</h3>

		<p class="pill">
			{event_period}
		</p>
	</a>
</li>
<style>
	:root {
		--link-gradient: linear-gradient(45deg, #FFC22300, #FFC22344 30%, var(--color-bg) 60%);
		--link-gradient-1: linear-gradient(45deg, hsl(10, 21%, 95%), hsl(10, 21%, 95%) 30%, #002C38 100%);
	}

	.link-card {
		list-style: none;
		display: flex;
		/* margin: 0.5em; */
		padding: 2px;
		background: #ffffff;
		background-image: var(--link-gradient-1);
		background-size: 400%;
		border-radius: 0.5rem;
		background-position: 100%;
		min-height: 160px;
		transition: background-position 0.2s cubic-bezier(0.22, 0.5, 0.36, 0.5);
		
	}

	.inner-div-gradient{
		background-image: var(--link-gradient);
		background-size: 400%;
		border-radius: 0.5rem;
		background-position: 100%;
		transition: background-position 0.2s cubic-bezier(0.22, 0.5, 0.36, 0.5);
		/* align-items: center; */
		justify-content: center;
		display: flex;
		flex-direction: column;
		
	}

	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 0.5em 0.5em;
		border-radius: 0.4rem;
		color: var(--text-color);
		background-image: var(--link-gradient);
		background-color: hsl(10, 21%, 95%);

		/* opacity: 0.9; */
	}

	.pill{
		background-color: #002C38;
		color: #ffffff;
		border-radius: 1em;
		font-size: 0.8em;
		padding: 0.1em 0.6em;
		width: max-content;
	}

	h2 {
		margin: 0;
		/* transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1); */
	}

	p {
		margin-top: 0.75rem;
		margin-bottom: 0;
	}

	h2 span {
		display: inline-block;
		/* transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1); */
	}

	.link-card:is(:hover, :focus-within) {
		/* background-color: #ffffff; */
		/* padding: 0px; */
		background-position: 0;
	}

	.inner-div-gradient:is(:hover, :focus-within){
		background-position:40%;
	}

	.link-card:is(:hover, :focus-within) h2 {
		text-decoration: underline;
	}

	.link-card:is(:hover, :focus-within) h2 span {
		will-change: transform;
		transform: translateX(2px);
	}

	strong{
		font-size: 1em;
		display: flex; 
		padding: 0px;
		padding-right: 0.5em;
	}
	p{
		display: flex;
	}

	.card-title{
		display: flex;

	}
</style>
