---
interface Props{
    image: string;
    title: string;
    association: string;
    bio?: string;
    abstract?: string;
    author?: string;
    date?: string;
    time?: string;
    href?: string;
}

const { abstract, image, title, author, association, time, href, bio, date} = Astro.props;
---

<div class="keynote-card">
    <img class="author-image desktop-author-info" src={image ? `/${image}` : "/UOY.svg"} alt="" />
    <div class="author-section">
        <img class="author-image" src={image ? `/${image}` : "/UOY.svg"} alt="" />
        <div class="author-info">
            <h3 class="author-name">{author}</h3>
        <p>{association}</p>
        </div>
    </div>
    
    <div class="keynote-info">
        <div class="top">
            {
                date && (
                    <a class="keynote-time-container"  href={author && "/programme#" +  author.toLowerCase().replace(/\s/g, '')}>
                        <p class="keynote-time">{date}</p>
                    </a>
                )
            }
            <h2 class="project-title">{title}</h2>
        </div>

        <div class="desktop-author-info">
            <h3 class="author-name">{author}</h3>
            <p>{association}</p>
        </div>
            <!-- Continue from here -->
        <template data-title={title} data-author={author} data-image={image}>
            {bio && <div class="item">
                <h2>Bio:</h2>
                <p>{bio}</p>
            </div>}

            {abstract && <div class="item">
                <h2>Abstract:</h2>
                <p>{abstract}</p>
            </div>}
            
            
        </template>
        
    </div>
</div>

<style>
    * {
        margin: 0%;
    }

    .item{
        padding-top: 2em;
    }

    .item h2{
        padding-bottom: 0.5em;
        opacity: 0.75;
    }

    .project-title{
        font-size: 1.25em;
    }

    .keynote-card {
        display: flex;
        padding: 1em;
        border: 1px solid #002c3855;
        border-radius: 10px;
        margin-bottom: 1em;
        width: 49%;
        max-width: 900px;
        
        background-color: #ffffff99
    }

    .keynote-card h2{
        cursor: pointer;
    }

    .keynote-card h2:hover {
        text-decoration: underline;
    }

    .keynote-card:nth-child(odd){
        margin-right: 1em;
    }

    .keynote-time-container {
        display: flex;
        width: 100%;
        margin: auto;
        margin-left: 0%;
    }

    .keynote-time {
        padding: 0.1em 0.6em;
        color: var(--color-bg);
        background-color: #002c38;
        margin: auto;
        margin-bottom: 0.4em;
        font-size: 0.8em;
        margin-left: 0%;
        border-radius: 15px;
    }

    .keynote-time:hover{
        padding: 0.1em 0.6em;
        color: var(--color-bg);
        background-color: #002c38;
        margin: auto;
        margin-bottom: 0.4em;
        font-size: 0.8em;
        margin-left: 0%;
        border-radius: 15px;
        text-decoration: underline;
    }



    .keynote-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    
    .author-name {
        margin-top: 2em;
    }

    .author-name {
        margin-bottom: 0.5em;
    }

    .author-image {
        object-fit: cover;
        position: relative;
        aspect-ratio: 1/1;
        max-width: 250px;
        height: auto;
        background-color: #ffffff;
        border-radius: 9px;
        margin-right: 1.5em;
    }

    .author-section{
            padding-top: 2em;
            display: none;
        }


    @media screen and (min-width: 1400px) {
        .keynote-container {
            width: 50%;
        }
    }

    @media screen and (max-width: 1399px) {
        .keynote-container{
            display: block;
        }
        .keynote-card{
            width: 100%;
        }
    }

    @media screen and (max-width: 830px) {
        .keynote-card{
            flex-direction: column-reverse;
        }
        .keynote-card:nth-child(odd){
            margin-right: 0em;
        }
        .programmes-section-1{
            padding: 0.5em;
        }

        .desktop-author-info{
            display: none;
        }

        .author-image {
            object-fit: cover;
            position: relative;
            aspect-ratio: 1/1;
            max-width: 150px;
            height: auto;
            background-color: #ffffff;
            border-radius: 9px;
            margin-right: 1.5em;
        }

        .author-name{
            margin-top: 1em;
        }

        .author-section{
            padding-top: 2em;
            display: flex;
        }

        .author-info{
            display: block;
        }

    }

    @media screen and (max-width: 430px) {
        .author-image {
            object-fit: cover;
            position: relative;
            aspect-ratio: 1/1;
            max-width: 100px;
            height: auto;
            background-color: #ffffff;
            border-radius: 9px;
            margin-right: 1.5em;
        }

    }
    
    
</style>
